.new-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.new-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #0F1113;    
}

.new-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FF4D4D;
}

.new-link::after {
    content: '';
    background-image: url(../../img/imgNew/link-vector.svg);
    width: 20px;
    height: 20px;
}

.new-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;
    list-style-type: none;
}

.new-item {
    width: 272px;
    background: #F6F7FA;
    border: 1px solid #F2F5F9;
    border-radius: 12px;
    padding: 20px;
    transition: 0.3s;
}


.new-item2 {
    margin-bottom: 20px;
}

.new-item-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #7E8794;
    text-align: start;
    text-decoration: none;
    margin-top: 20px;
    display: block;
    margin-bottom: 4px;
}

.new-item-fullName {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #263141;
    margin-bottom: 12px;
}

.new-sena {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7E8794;
    display: flex;
    text-decoration: none;
    margin-bottom: 4px;
}

.new-sena::after {
    content: '';
    background-image: url(../../img/imgNew//sena-vector.svg);
    display: block;
    width: 51px;
    height: 25px;
    margin-left: 4px;
    background-repeat: no-repeat;
}

.new-sena2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7E8794;
    display: flex;
    text-decoration: none;
    margin-bottom: 4px;
}

.new-sena2::after {
    content: '';
    background-image: url(../../img/imgNew//sena-vector2.svg);
    display: block;
    width: 51px;
    height: 25px;
    margin-left: 4px;
    background-repeat: no-repeat;   
}

.my-swiper {
    display: none;
}

@media (min-width: 0) and (max-width: 375px) {
    .new-head-wrapper {
        display: none;
    }

    .new-item {
        width: 213px;
        background: #F6F7FA;
        border-radius: 12px;
        padding: 12px 12px 14px 12px;
        transition: 0.3s;
        margin-right: 0;
    }

    .my-swiper {
        display: block;
        margin-bottom: 32px;
    }

    .new-img {
        width: 189px;
        height: 128px;        
    }

    .new-item-wrapper {
        display: flex;
    }

    .new-item-name {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        font-feature-settings: 'salt' on, 'liga' off;
        color: #7E8794;
        text-align: start;
        text-decoration: none;
        margin-top: 12px;
        display: block;
        margin-bottom: 4px;
    }

    .new-item-fullName {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #263141;
        margin-bottom: 10px;
    }

    .new-sena {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #7E8794;
        display: flex;
        text-decoration: none;
        margin-bottom: 4px;
    }
    
    .new-sena::after {
        content: '';
        background-image: url(../../img/imgNew//sena-vector.svg);
        display: block;
        height: 16px;
        margin-left: 4px;
        background-repeat: no-repeat;
    }
    .new-item-rubl{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #263141;
    }
}